In [1]:
import pandas as pd

data = pd.read_csv('users.csv')
# data =data[['name','address']]
# data =data[data['address']=='kathmandu']
data
# data =data[data['address'].isnull()]
# get only nan values
# data = data[data['address'].isnull()]
# data = data.dropna()
# data.head(3)
# data.tail(3)

   sn   name            email    address
0   1    ram    ram@gmail.com  kathmandu
1   2   hari   hari@gmail.com    pokhara
2   3   sita   sita@gmail.com        NaN
3   4   gita   gita@gmail.com  bhaktapur
4   5   nita   nita@gmail.com   lalitpur
5   6   rita   rita@gmail.com  kahtmandu
6   7  laxmi  lalxmigmail.com  kathmandu
7   8  gopal  gopal@gmail.com        NaN