In [5]:
import pandas as pd

data =pd.read_csv('data.csv')
# data['salary']
data.head(34)

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
5,2023,Data Scientist,Data Science and Research,USD,130000,130000,United States,Senior,Full-time,Remote,United States,M
6,2023,Data Scientist,Data Science and Research,USD,100000,100000,United States,Senior,Full-time,Remote,United States,M
7,2023,Machine Learning Researcher,Machine Learning and AI,USD,224400,224400,United States,Mid-level,Full-time,In-person,United States,M
8,2023,Machine Learning Researcher,Machine Learning and AI,USD,138700,138700,United States,Mid-level,Full-time,In-person,United States,M
9,2023,Data Engineer,Data Engineering,USD,210000,210000,United States,Executive,Full-time,Remote,United States,M
10,2023,Data Engineer,Data Engineering,USD,168000,168000,United States,Executive,Full-time,Remote,United States,M
11,2023,Machine Learning Engineer,Machine Learning and AI,USD,224400,224400,United States,Senior,Full-time,In-person,United States,M
12,2023,Machine Learning Engineer,Machine Learning and AI,USD,138700,138700,United States,Senior,Full-time,In-person,United States,M
13,2023,Data Scientist,Data Science and Research,GBP,35000,43064,United Kingdom,Mid-level,Full-time,In-person,United Kingdom,M
14,2023,Data Scientist,Data Science and Research,GBP,30000,36912,United Kingdom,Mid-level,Full-time,In-person,United Kingdom,M
15,2023,Data Analyst,Data Analysis,USD,95000,95000,United States,Entry-level,Full-time,In-person,United States,M
16,2023,Data Analyst,Data Analysis,USD,75000,75000,United States,Entry-level,Full-time,In-person,United States,M
17,2023,Data Scientist,Data Science and Research,USD,300000,300000,United States,Senior,Full-time,In-person,United States,M
18,2023,Data Scientist,Data Science and Research,USD,234000,234000,United States,Senior,Full-time,In-person,United States,M
19,2023,Analytics Engineer,Leadership and Management,USD,140000,140000,United States,Mid-level,Full-time,In-person,United States,M
20,2023,Analytics Engineer,Leadership and Management,USD,120000,120000,United States,Mid-level,Full-time,In-person,United States,M
21,2023,Machine Learning Engineer,Machine Learning and AI,USD,204500,204500,United States,Mid-level,Full-time,In-person,United States,M
22,2023,Machine Learning Engineer,Machine Learning and AI,USD,142200,142200,United States,Mid-level,Full-time,In-person,United States,M
23,2023,Data Analyst,Data Analysis,USD,155000,155000,United States,Mid-level,Full-time,In-person,United States,M
24,2023,Data Analyst,Data Analysis,USD,110000,110000,United States,Mid-level,Full-time,In-person,United States,M
25,2023,Machine Learning Engineer,Machine Learning and AI,USD,266500,266500,United States,Senior,Full-time,In-person,United States,M
26,2023,Machine Learning Engineer,Machine Learning and AI,USD,152000,152000,United States,Senior,Full-time,In-person,United States,M
27,2023,Applied Scientist,Data Science and Research,USD,222200,222200,United States,Mid-level,Full-time,In-person,United States,L
28,2023,Applied Scientist,Data Science and Research,USD,136000,136000,United States,Mid-level,Full-time,In-person,United States,L
29,2023,Machine Learning Engineer,Machine Learning and AI,USD,273400,273400,United States,Senior,Full-time,In-person,United States,M
30,2023,Machine Learning Engineer,Machine Learning and AI,USD,182200,182200,United States,Senior,Full-time,In-person,United States,M
31,2023,BI Developer,BI and Visualization,USD,167500,167500,United States,Senior,Full-time,In-person,United States,M
32,2023,BI Developer,BI and Visualization,USD,106500,106500,United States,Senior,Full-time,In-person,United States,M
33,2023,Data Engineer,Data Engineering,USD,185900,185900,United States,Senior,Full-time,In-person,United States,M